extends main

block profile
                    
    .col-xs-12.col-md-10
        .col-xs-12.col-md-6.col-lg-4
            include ../components/cards
        .col-xs-12.col-md-6.col-lg-4
            include ../components/cards
        .col-xs-12.col-md-6.col-lg-4
            include ../components/cards
        .col-xs-12.col-md-6.col-lg-4
            include ../components/cards
