
.col-xs-12
    
    h1.h1.unmar Comercio
    .pad-sm

    form.form-tolerance(action="/creation" method="POST" enctype="multipart/form-data")

        //- input.hidden(type="text" name="item" value="comercio")

        .row
            .col-xs-12.col-md-9
                .form-group
                    label(for='nombre') Nombre de comercio
                    input#nombre.form-control(type='text' name="name")

                .form-group
                    label(for='dsc') Descripción
                    textarea#dsc.form-control(type='text' name="description" rows="5")
        
            .col-xs-12.col-md-3
                .form-group
                    label Imagen
                    .text-center
                        input#photo_comercio.hidden(type="file" name="displayImage" onchange="previewImage(this,[256],0.5)")
                        .imagePreview
                            span#no_image No hay imagen de producto aún
                        label.btn.btn-default(for="photo_comercio") Seleccionar imagen

        .row
            .form-group.col-xs-12.col-md-6
                label(for='direccion') Dirección
                input#direccion.form-control(type='text' name="direccion")

            .form-group.col-xs-12.col-md-6
                label(for='tel') Teléfono
                input#tel.form-control(type='text' name="telefono")

        .row
            .form-group.col-xs-12.col-md-6
                label(for='web') Web
                input#web.form-control(type='text' name="web")

            .form-group.col-xs-12.col-md-6
                label(for='recom') Especialidad
                textarea#dsc.form-control(type='text' name="recomended" row="5")

        .form-group
            label(for='tags') Etiquetas
            span.small (lista separada por comas)
            input#tags.form-control(type='text' name="tags")

        .form-group
            label.col-xs-12.row(for='tipo') Tipo de comercio
            .btn-group.block
                .pad-h-xs.iblock
                    input#especializado.hidden(type="radio" name="tipo" value="especializado")
                    label(for="especializado") 
                        .logo_comercio.centrado.especializado
                        .btn.btn-block.btn-default.square Especializado
                .pad-h-xs.iblock
                    input#herboristeria.hidden(type="radio" value="herboristería")
                    label(for="herboristeria") 
                        .logo_comercio.centrado.herboristeria
                        .btn.btn-block.btn-default.square Herboristería
                .pad-h-xs.iblock
                    input#hiper.hidden(type="radio" name="tipo" value="hiper")
                    label(for="hiper") 
                        .logo_comercio.centrado.hiper
                        .btn.btn-block.btn-default.square Gran superficie
                .pad-h-xs.iblock
                    input#generico.hidden(type="radio" name="tipo" value="generico")
                    label(for="generico") 
                        .logo_comercio.centrado.generico
                        .btn.btn-block.btn-default.square Genérico
                .pad-h-xs.iblock
                    input#otros.hidden(type="radio" name="tipo" value="otros")
                    label(for="otros")
                        .logo_comercio.centrado.otros
                        .btn.btn-block.btn-default.square Otros

        .pad-v-md

        .text-center
            button.btn.btn-brd-infolight.square.btn-lg.pad-h-huge(type='submit') Crear

.clearfix