.card.radius.shadowDepth1
    .card__image.border-tlr-radius
        img.border-tlr-radius(src='http://lorempixel.com/400/200/sports/', alt='image')
    .card__content.card__padding
        .card__share
            .card__social
                a.share-icon.facebook(href='#')
                    span.fa.fa-facebook
                a.share-icon.twitter(href='#')
                    span.fa.fa-twitter
                a.share-icon.googleplus(href='#')
                    span.fa.fa-google-plus
            a#share.share-toggle.share-icon(href='#')
        .card__meta
            a(href='#') Web Design
            time 17th March
        article.card__article
            h2
                a(href='#') Material Design Card - For Blog Post Article
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...
    .card__action
        .card__author
            img(src='http://lorempixel.com/40/40/sports/', alt='user')
            .card__author-content
                | By 
                a(href='#') John Doe