main(ng-controller="home-Ctrl")
    .container
        .col-xs-12.col-md-6.col-lg-4(ng-repeat="item in all")
            div(ng-include="'../templates/cards.html'")
        .col-xs-12.col-md-6.col-lg-4(ng-repeat="item in all")
            div(ng-include="'../templates/cards.html'")
        .col-xs-12.col-md-6.col-lg-4(ng-repeat="item in all")
            div(ng-include="'../templates/cards.html'")